.react-collapse-background{
    width: 100%;
    background-color: #FFFFFF;
    overflow: hidden;
    &:last-child{
        border-bottom: none;
    }
    .collapse-panel{
        min-height: 50px;
        width: 100%;
        .collapse-panel-head{
            min-height: 50px;
            box-sizing: border-box;
            padding: 10px 20px;
            background-color: #f9f9f9;
            border-bottom: 1px solid #d9d9d9;
            cursor: pointer;
            line-height: 20px;
            font-size: 14px;
            display: flex;
            align-items: center;
            color: #000;
        }
        .disabled{
            cursor: not-allowed;
            color: rgba(0,0,0,.25);
        }
        .collapse-panel-content{
            min-height: 50px;
            box-sizing: border-box;
            padding: 10px 20px;
            background-color: #fff;
            border-bottom: 1px solid #d9d9d9;
            display: flex;
            line-height: 1.5;
            align-items: center;
            color: rgba(0,0,0,.65);
        }
    }
}

.bordered{
    border: 1px solid #bbb;
    border-radius: 4px;
    box-sizing: border-box;
}
